<!-- Main modal -->
 <div id="modal-backdrop" class="hidden fixed inset-0 bg-black bg-opacity-30 z-40"></div>
<div id="default-modal" tabindex="-1"  data-controller="modal" aria-hidden="true" class="hidden absolute top-1/2 left-1/4 z-50 justify-center items-center w-full  max-w-xl h-[calc(100%-1rem)]">
    <div class="relative p-4 w-full w-max-xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 data-board-target="title" class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <p class="font-semibold">Description:</p>
                <p data-board-target="description" class="text-base leading-relaxed text-gray-500 dark:text-gray-400"></p>
            </div>            
        </div>
    </div>
</div>